body {
  background-color: #4444444;
  color: #ddddddd;
  font-family: Ariel, Helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1);
  margin: -4%
}

li {
  margin: 10%;
}
