body {
  background-color: white;
  color: #ddddddd;
  font-family: Ariel, Helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.2);
}

p {
  text-align: left;
}

h4 {
  display:inline;
}

h6 {
  display:inline;
  float: right;
}

h1 {
  text-align: left;
}

img {
  width: 17%;
  float: right;
  
}

ul1 {
  font-size: 14px;
}





